# Data Science Tools and Ecosystem

## Author
Noah Karrer

 In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives*:  

$\cdot$List popular languages for Data Science

$\cdot$List popular libraries for Data Science

$\cdot$List popular Tools for Data Science

Some of the popular languages that Data Scientists use are:

    1. Julia
    2. R
    3. Python

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. NumPy
    3. Matplotlib

| Data Science Tools | 
|------------------- |
| Spyder             |           
| Jupyter Notebook   | 
|       RStudio      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335